<!DOCTYPE>
<html ng-app="searchName"> 
<head>
	<title>DAA assignment</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="dataset.js"></script>

	<style>
		ul {  
            list-style: none;  
            padding: 10px;  
            background-color: #CAEAF5;  
            border-radius: 10px;  
            border: 1px solid #ccc;  
            width: 210px;  
        }  
  
        li {  
            border: 1px solid #ccc;  
            border-right: none;  
            border-left: none;  
            padding: 2px;  
            text-align: center;  
        }         	
	</style>

</head>
<body>
	<div ng-controller="nameController">
		<p style="font-family: Courier new ;font-size: 100%;margin-left: 34% ;margin-top: 3%">
			Search : 
			<input type='text' ng-model='searchBar' placeholder="Enter here" style="font-family: Courier new ;font-size: 100%; width: 30% ;height: 5%; " />
		</p>
		<ul style="list-style-type: none; margin-left: 42%;">			
			<li ng-repeat='name in namedata | filter:searchBar' style="font-family: Courier new ;">
				{{name.name}}
			</li>
		</ul>
			
	</div>
</body>
</html>
